//impoarts intructions from the image-manipulation file
@import "image-manipulation";
@import "nutrition-style";
@import "recipe-style";
@import "reviews-style";
@import "save-style";

//colour variables that store the exact colours I need
$main-colour-white: rgb(253, 253, 253);
$main-colour-green: yellowgreen;
$main-colour-orange: rgb(102, 255, 41);

//resets the webpage
* {
  font-family:Georgia;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//gives any element a width and height when excuted
@mixin box($w-pixels, $h-pixels) {
  width: $w-pixels;
  height: $h-pixels;
}

//gives any element a styled border when excuted
@mixin borderSides(
  $ra-pixels,
  $l-pixels,
  $r-pixels,
  $t-pixels,
  $b-pixels,
  $b-color
) {
  border-style: solid;
  border-radius: $ra-pixels;
  border-left-width: $l-pixels;
  border-right-width: $r-pixels;
  border-top-width: $t-pixels;
  border-bottom-width: $b-pixels;
  border-color: $b-color;
}

//gives an element a styled font when when excuted
@mixin fontStyle($f-size, $f-weight, $t-align, $t-color) {
  font-size: $f-size;
  font-weight: $f-weight;
  text-align: $t-align;
  color: $t-color;
}

//gives any element a styled hover effect when excuted
@mixin hoverwhite($style) {
  &:hover {
    color: $main-colour-white;
    text-decoration: $style;
  }
}

//Styles the body of all webpages
body {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  .wrapper {
    max-width: 1300px;
    margin: 0 auto;
  }
}

//Styles the header of all pages
header {
  display: flex;
  border-bottom-style: solid;
  border-width: 1px;
  background-color: $main-colour-green;
  @include borderSides(5px, 10px, 10px, 0px, 0px, $main-colour-green);

  #heading_container {
    padding-top: 25px;

    h1 {
      font-weight: bold;
      font-family: "Sofia", sans-serif;
      text-align: center;
    }

    nav {
      list-style: none;
      display: flex;
      justify-content: center;

      li {
        padding: 20px;
        a {
          text-decoration: none;
          color: black;
          font-weight: bold;
          @include hoverwhite(underline);
        }
      }
    }
  }
}

//Styles the main element oon the index.html
#index-main {
  flex-grow: 1;
  position: relative;

  .wrapper {
    padding-top: 1em;
    padding-bottom: 1em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;

    #main_container1 {
      @include borderSides(15px, 1px, 1px, 1px, 1px, black);
      padding: 75px;
      background-color: aqua;
      grid-area: 1/ 1 / 2 / 2;
    }

    #main_container2 {
      @include borderSides(15px, 1px, 1px, 1px, 1px, black);
      padding: 75px;
      background-color: rgb(250, 250, 27);
      grid-area: 1/ 2 / 3 / 3;
    }

    #main_container3 {
      @include borderSides(15px, 1px, 1px, 1px, 1px, black);
      padding: 75px;
      background-color: orange;
      grid-area: 2/ 1 / 2 / 2;
    }

    li {
      padding-bottom: 10px;
    }
  }
}

//Styles the footer on all webpages
footer {
  padding: 10px;
  @include borderSides(5px, 0px, 0px, 1px, 0px, grey);
  background-color: rgb(231, 225, 225);

  table {
    th {
      font-size: 20px;
      width: 50%;
    }

    tr {
      td {
        padding: 0px 20px 0px 20px;
      }
    }

    tr td:nth-child(2) {
      border-style: solid;
      border-left-width: 2px;
    }
  }

  button {
    position: relative;
    @include box(100px, 30px);
    background-color: $main-colour-green;
    padding: 0px 5px 0px 5px;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    left: 250px;
    top: 5px;
  }
}

//Styles the like buttons
.submitLike{
  color: rgba(255, 255, 255, 0) ;
  @include box(10px, 10px);
  background-color: rgb(255, 38, 0);
  border-radius: 5px;
  position: relative;
  top: 0;
}

//Styles the like button when called
.liked{
  background-color: rgb(68, 255, 0);
  color: black;
}

//Styles the saved button
.save-btn{
  background-color: $main-colour-green;
  margin: 10px;
  padding: 3px;
 font-size: 12px;
 border-radius: 5px;
}

/*references: https://youtu.be/wRNinF7YQqQ?si=UIyHZJK75A1WR895 
              https://youtu.be/HGTJBPNC-Gw?si=rbu0uFG7g1TsSNI4
              https://youtu.be/-C-qR1gziNc?si=NwCgGNe7NBM66Keo
              CSSNotesForProfessionals.pdf
              https://youtu.be/EiNiSFIPIQE?si=c2lBGu7iUompz_rG
              https://youtu.be/phWxA89Dy94?si=Gh65T8CQ29vhbt-U
              https://youtu.be/Ey-slKj8xA8?si=43ynwUe7q0RXqO2q
*/