//colour variables that store the exact colours I need
$main-colour-orange: rgb(255, 148, 41);
$main-colour-yellow: #f6ebbd;

//gives any element a width and height when excuted
@mixin box($w-pixels, $h-pixels) {
  width: $w-pixels;
  height: $h-pixels;
}

//Styles the main element in the reviews.html
#reviews-main {
  background-color: $main-colour-yellow;
  .wrapper {
    padding: 1em 0em 1em 0em;
    display: grid;
    grid-template-rows: 450px 400px;
    grid-gap: 1em 0em;
    //Styles the aside content
    aside {
      grid-row: 1;
      display: flex;

      h1 {
        @include box(60%, 100%);
        border-radius: 40px 0px 0px 40px;
        font-style: italic;
        background-color: $main-colour-orange;
        text-align: center;
        align-content: center;
      }

      #subscribe-box {
        @include box(40%, 100%);
        border-left-style: solid;
        border-color: darkorange;
        border-width: 3px;
        border-radius: 0px 40px 40px 0px;
        background-color: $main-colour-orange;
        padding-left: 40px;
        align-content: center;

        #radio--container {
          label {
            padding: 10px;
          }
        }

        .form__submit {
          @include box(100px, 30px);
          background-color: rgb(4, 191, 4);
          border: none;
          font-weight: bold;
          color: white;
          border-radius: 4px;
        }
      }
    }

    //Styles the article content
    #sliderWrapper {
      grid-row: 2;
      @include box(400px, 400px);
      overflow: hidden;
      margin: 0 auto;

      #sliderList {
        display: block;
        @include box(3200px, 400px);
        padding: 0;
        margin: 0;

        .slide {
          text-align: center;
          float: left;
          list-style-type: none;
          @include box(400px, 400px);
          border-radius: 0px 40px 0px 40px;
          padding: 40px 20px 0px 40px;
          background-color: aqua;
        }
      }
    }
  }
}
